.dropdown-menu {
    /* background: red; */
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
  }
  
  .dropdown-menu li {
    background: #6568F4;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background: #a9a6d5;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
  }
  
  @media screen and (max-width: 960px) {
    .dropdown-menu {
      position: initial;
      width: 100%;
      text-align: center;
    }
    .dropdown-link{
      padding: 16px 0;
    }
  }