.table-wrap{
  padding: 10px;
}

.table-wrap .data-kecamatan {
  display:block;
  width: 100%;
  border-collapse: collapse;
  border-block: 1px solid #010301;
  border-top: 1px solid #d4d4d4;
  overflow: scroll;
}


.table-wrap .data-kecamatan th {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #fefaf5;
  color: #1b0605;
  border-bottom: 1px solid #010301;
}

.table-wrap .data-kecamatan td{
  border-bottom: 1px solid #010301;
  border-left: none;
  border-right: none;
  padding: 8px;
}

.number-data{
  text-align: center;
}

.data-kecamatan tr:nth-child(even){background-color: #ffeedc;}

.data-kecamatan tr:hover {background-color: #a9a6d5;}


.data-kecamatan a  {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .table-wrap{
    max-width: 100%;
    padding: 0;
    overflow: auto;
  }
  .table-wrap .data-kecamatan th {
    padding: 18px;
  }
}
 
  
