.tips-content .yoga{
    width: 50%;
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.yoga .yoga-pic{
    width: 250px;
    height: 255px;
}
.yoga .yoga-pic img{
    height: 100%;
}